/* General CSS */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: 'Anton', sans-serif;
  }
  
  p {
    margin: 0;
  }

  :root {
    --dark-yellow: #ffc107;
    --white: white;
  }

  /* Navbar */

  .img-me-nav {
    width: 60px;
    border: 3px solid var(--dark-yellow);
    border-radius: 50%;
    margin-right: 10px;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 0;
  }

  nav a {
    text-transform: uppercase;
  }

  .nav-link {
    margin-right: 30px;
    font-weight: 600;
  }

  .nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: var(--dark-yellow);
    text-decoration-thickness: 4px;
  }

  /* Jumbotron */

  .background {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 500px;
  }

  .sectionHeading {
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    font-size: 48px;
  }

  .background p {
    font-size: 18px;
    margin-bottom: 30px;
}

  .background button {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-right: 40px;
    padding-left: 40px;
  }

  .background button:hover {
    background-color: var(--white);
    border: 1px solid var(--white);
    border-bottom: 4px solid var(--dark-yellow);
    border-radius: 0;
  }

/* About Me */

.aboutMeSection {
  background-color: var(--dark-yellow);
}

.aboutMeSection h2 {
  color: var(--white);
}

.aboutMeSection p {
  margin: 30px 100px 50px 100px;
  text-align: center;
  color: var(--white);
  font-weight: 600;
}

/* Work Cards */

.card {
  width: 24rem;
  margin: 40px auto;
  border: 1px solid var(--white);
  border-left: 10px solid var(--dark-yellow);
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
}

.card:hover {
  filter: brightness(1.1);
  border-left: 15px solid var(--dark-yellow);
}

.card img {
  width: 100%;
}

.card h5 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.card p {
  margin-bottom: 10px;
}

.card-body {
  position: relative;
}

.card-body a {
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.card-body a:hover {
  color: var(--white);
}

/* Footer */

footer {
  background-color: grey;
  color: var(--white);
  padding-bottom: 20px;
}

footer h2 {
  text-transform: uppercase;
  padding-top: 20px;
  text-align: center;
  font-size: 48px;
}

.contact-details {
  display: flex;
  justify-content: center;
}

.contact-details a {
  font-size: 30px;
  color: var(--white);
  margin: 0 5px;
}

.contact-details a:hover {
  color: var(--dark-yellow);
  font-size: 32px;
}